html {
    height: 100%;
}

body {
    background-color: #fff;
    height: 100%;
    display: table;
    width: 100%;
    margin: 0;
    padding: 0;
}

main {
    display: table-cell;
    width: 75%;
    padding: 20px;
}

aside {
    display: table-cell;
    width: 25%;
    left: 0;
    padding: 20px;
    background-color: black;
    color: white;
}

    aside > div {
        padding-bottom: 40px;
    }

        aside > div > ul {
            padding-left: 5px;
        }

main > form + p {
    padding-top: 10px;
}

th {
    background-color: #ccc;
    font-weight: bold;
}

form button {
    margin-top: 20px;
}
